#### Loops and Conditionals
1. Write a program to check if a number is prime.
   
2. Create a function that takes a list of integers and returns a list of only the even numbers.
   
3. Generate a list of numbers from 1 to 100 and use a loop to create a new list containing only the numbers that are divisible by both 3 and 5.

1. Write a program to check if a number is prime.

In [4]:
num = int(input("Enter a number :"))
if num <= 0 :
    print("This is not a prime number")
else:
    for i in range(2,num):
        if num % i == 0 :
            print("number is not prime")
            break
    else:
        print("number is a prime number")

Enter a number : 5

number is a prime number

2. Create a function that takes a list of integers and returns a list of only the even numbers.

In [7]:
num = [23,44,45,54,57,67,77,78]
even=[]
for i in num:
    if i % 2 == 0 :
        even.append(i)
print(even)

[44, 54, 78]

3. generate a list of numbers from 1 to 100 and use a loop to create a new list containing only the numbers that are divisible by both 3 and 5.

In [12]:
def number_divisible_by_5_and_3(number):
    divisible=[]
    for i in number:
        if i % 3 == 0  and i % 5 ==0 :
            divisible.append(i)
    return divisible
print(number_divisible_by_5_and_3(range(1, 101)))

[15, 30, 45, 60, 75, 90]

4 . Write a function that takes a number n and prints numbers from 1 to n. For each multiple of 3, print "Fizz" instead of the number, and for each multiple of 5, print "Buzz". For numbers that are multiples of both 3 and 5, print "FizzBuzz".

In [17]:
def fizzbuzz(n):
    for i in range(1,n+1):
        if i % 3 == 0 and i % 5==0:
            print("Fizz buzz")
        elif i % 3 ==0 :
            print("Fizz")
        elif i % 5 == 0 :
            print("Buzz")
        else:
            print(i)
fizzbuzz(10)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz

#### Pattern Questions

1. **Right-Angled Triangle**

Create a right-angled triangle pattern with asterisks

In [20]:
def right_angled_triangle(n):
       for i in range(1,n+1):
           print('*'*i)
right_angled_triangle(5)

*
**
***
****
*****

2. **Inverted Right-Angled Triangle**
   
Create an inverted right-angled triangle pattern with asterisks (*).

In [21]:
def  inverted_right_angled_triangle(n):
                for i in range(n,0,-1):
                    print('*'*i)
inverted_right_angled_triangle(5)

*****
****
***
**
*

3. **Pyramid Pattern**
   
Create a pyramid pattern with asterisks (*).

In [23]:
def pyramid(n):
    for i in  range(n):
        print(' ' *(n-i-1)+'*'*(2*i+1))
pyramid(5)

    *
   ***
  *****
 *******
*********

4. **Diamond Pattern**
   
Create a diamond pattern with asterisks (*).

In [32]:
def diamond(n):
    for i in range(1, n + 1):
        print(' ' * (n - i) + '*' * (2 * i - 1))
    
   
    for i in range(n - 1, 0, -1):
        print(' ' * (n - i) + '*' * (2 * i - 1))


diamond(5)

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

#### 5. Simple Interest Calculator

In [4]:
def simple_interest(principal, rate, time) :
    interest=(principal*rate*time)/100
    print(interest)
simple_interest(4500000, 7, 15)

4725000.0